.link {
    text-decoration: none;
    cursor: pointer;
}

.list {
    list-style: none;
}

button {
    cursor: pointer;
}

// img {
//     display: block;
//     width: 100%;
//     height: auto;
// }

body {
    background-color: var(--primary-bg-color);
    color: --primary-text-color;
}