:root{
    --primary-bg-color: #84A178;
    --primary-text-color: #131313;
    --secondary-text-color: #FCFCFC;
    --accent-color: #F8D24E;
    
    --timeng-function: cubic-bezier(0.4, 0, 0.2, 1);

    --font-title: Seymour One, sans-serif;
}